.App {
  text-align: center;
}
.css-vs27xc {
  border-radius: 10px !important;
}
.css-1p4evgx {
  background-color: transparent !important;
  border-radius: 10px;
}
html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.css-13t4l7t {
  margin-left: 10vw;
  width: 80vw !important;
  min-width: 20vw !important;
}
.css-1p4evgx {
  border-radius: 8px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.wordsDiv {
  display: grid;
  justify-items: center;
  grid-template-columns: auto auto;
}
.wordsButton {
  margin: 8px;
}
.waitingGif {
  width: 60px;
}
html,
body {
  background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000");
  height: 100vh;
  margin: 0;
  height: 100%;
}
.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
  width: 140px;
}
.waitingDuo {
  margin-top: 40px;
  display: grid;
  justify-content: space-evenly;
  justify-items: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
h1 {
  margin: 0 auto;
  padding: 20px;
}
.level {
  margin-bottom: 20px;
}
#startButton {
  margin-top: 30px;
  text-decoration: none;
  background: #ccc2c2;
  color: black;
  width: 34vw;
  margin-left: 33vw;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 700;
}
#homeText {
  font-family: "M PLUS Rounded 1c", sans-serif;
  width: 80vw;
  margin-top: 4vw;
  margin-left: 10vw;
}
.App-link {
  color: #61dafb;
}
#homePage {
  margin-top: 6vw;
  width: 84vw;
  margin-left: 8vw;
  border-radius: 9px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
